- targets:
{% for host in groups['compute'] %}
  - {{ hostvars[host]['ansible_'~int_api_interface].ipv4.address }}:{{ contrabass_exporter_port }}
{% endfor %}
{% for host in groups['new-compute'] %}
  - {{ hostvars[host]['ansible_'~int_api_interface].ipv4.address }}:{{ contrabass_exporter_port }}
{% endfor %}
