- targets:
{% for host in groups['openstack'] %}
  - {{ hostvars[host]['ansible_'~int_api_interface].ipv4.address }}:{{ node_exporter_port }}
{% endfor %}
{% for host in groups['new-compute'] %}
  - {{ hostvars[host]['ansible_'~int_api_interface].ipv4.address }}:{{ node_exporter_port }}
{% endfor %}
