# Files larger than GitHub's 100 MB per-file limit
/init-container/cao/artifacts/cloud-service-api.tar
/init-container/cao/artifacts/cloud-service-collector.tar
/init-container/cao/artifacts/contrabass-admin-service.tar
/init-container/cao/artifacts/contrabass-api.tar
/init-container/cao/artifacts/contrabass-collector.tar
/init-container/cao/artifacts/contrabass-remote-app.tar
/init-container/cao/artifacts/contrabass-scheduler.tar
/init-container/cao/artifacts/kafka_3.5.1.tar
/init-container/cao/artifacts/keycloak-v1.0.0-3.tar
/init-container/cao/artifacts/maestro-auth-gateway.tar
/init-container/cao/artifacts/maestro-common-api.tar
/init-container/cao/artifacts/maestro-event-pusher.tar
/init-container/cao/artifacts/maestro-host-app.tar
/init-container/cao/artifacts/maestro-iam-adapter-api.tar
/init-container/cao/artifacts/maestro-ml-data-api.tar
/init-container/cao/artifacts/maestro-remote-app.tar
/init-container/cao/artifacts/mariadb_10.11-jammy.tar
/init-container/cao/artifacts/nginx.tar
/init-container/cao/artifacts/notification-adapter-api.tar
/init-container/cao/artifacts/opensearch-dashboard_latest.tar
/init-container/cao/artifacts/opensearch_2.6.0.tar
/init-container/cao/artifacts/sym-consolidation-api.tar
/init-container/cao/artifacts/vault_1.14.1.tar
/init-container/cao/artifacts/zookeeper_3.5.10.tar
/init-container/contrabass-engine/okestro/okestro-openstack/roles/cephadm/files/ceph.tar
/init-container/contrabass-engine/okestro/okestro-openstack/roles/cephadm/files/grafana.tar
/init-container/contrabass-engine/okestro/okestro-openstack/roles/cephadm/files/prometheus.tar
/init-container/contrabass-engine/okestro/okestro-openstack/roles/create-vm/files/ubuntu-22.04-qemu.qcow2
/init-container/contrabass-engine/okestro/okestro-openstack/roles/minio/files/minio
/init-container/contrabass-engine/okestro/okestro-openstack/roles/octavia-set/files/octavia-amphora-haproxy-2024.1-qemu.qcow2
/init-container/contrabass-engine/okestro/okestro-openstack/roles/prometheus/files/loki-linux-amd64
/init-container/contrabass-engine/okestro/okestro-openstack/roles/prometheus/files/prometheus_dir/prometheus
/init-container/contrabass-engine/okestro/okestro-openstack/roles/prometheus/files/prometheus_dir/promtool
/init-container/contrabass-engine/okestro/okestro-openstack/roles/prometheus/files/promtail
/init-container/contrabass-engine/openstack-ansible.tar
