clouds:
  {{ cloud }}:
    auth:
      auth_url: {{ internal_endpoint_protocol }}://{{ internal_endpoint }}:{{ keystone_bind_port }}/v3/
      project_name: admin
      username: admin
      password: "{{ keystone_pass }}"
      user_domain_name: Default
      project_domain_name: Default
    interface: internal
{% if internal_endpoint_protocol == "https" %}
    verify: False
{% endif %}
    region_name: {{ region_one }} 
