[Unit]
Description=masakari api

[Service]
Restart=always
User=root
ExecStart=/usr/local/bin/masakari-api
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
