{% for host in groups['compute'] %}
- targets:
  - {{ hostvars[host]['ansible_'~monitoring_network_interface].ipv4.address }}:{{ contrabass_exporter_port }}
  labels:
    hypervisor: "{{ host }}"
{% endfor %}
