auth_enabled: false

server:
  http_listen_port: 3100
{% if monitoring_enable_tls %}
  http_tls_config: &tls_server_config
    cert_file: /opt/monitoring-certs/monitoring-server.crt
    key_file: /opt/monitoring-certs/monitoring-server.key
{% endif %}
  grpc_listen_port: 9096
  log_level: debug
  grpc_server_max_concurrent_streams: 1000

common:
  path_prefix: /tmp/loki

compactor:
  working_directory: /tmp/loki/compactor

frontend_worker:
  frontend_address: 127.0.0.1:9096

ingester:
  lifecycler:
    address: {{ hostvars[inventory_hostname]['ansible_'~int_api_interface]['ipv4']['address'] }}
    ring:
      kvstore:
        store: memberlist
      replication_factor: {{ groups['controller'] | length }}

distributor:
  ring:
    kvstore:
      store: memberlist

memberlist:
  join_members:
{% for item in groups['controller'] %}
    - {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}
{% endfor %}

schema_config:
  configs:
  - from: 2025-01-01
    store: tsdb
    object_store: s3
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /tmp/loki/index
    cache_location: /tmp/loki/index_cache
  aws:
    s3: http://{{ s3_access_key }}:{{ s3_secret_key }}@{{ internal_vip_address }}:{{ minio_bind_port }}/{{ loki_bucket }}
    insecure: true
    s3forcepathstyle: true

analytics:
  reporting_enabled: false

limits_config:
  ingestion_rate_mb: 40
  ingestion_burst_size_mb: 80
