#!/bin/bash

echo "################"
echo "AMX_STATUS =" $AMX_STATUS
echo "AMX_ALERT_1_LABEL_component =" $AMX_ALERT_1_LABEL_component
echo "AMX_ALERT_1_LABEL_cause =" $AMX_ALERT_1_LABEL_cause
echo "################"

# Alert 상태가 firing이 아니면 종료
if [[ "$AMX_STATUS" != "firing" ]]; then
    exit 0
fi

# Galera 클러스터 상태가 non-Primary일 때 복구 수행
if [[ "$AMX_ALERT_1_LABEL_cause" == "network_partition" ]]; then
    echo "[INFO] Cluster is non-Primary. Triggering recovery…"
    mysql -uroot -P3306 -p'{{ db_password }}' -e "SET GLOBAL wsrep_provider_options='pc.bootstrap=YES';"
fi
