[Unit]
Description=Thanos Query
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Restart=on-failure
Type=simple
ExecStart={{ exe_path }}/thanos query \
    --grpc-address=0.0.0.0:{{ thanos_query_grpc_port }} \
{% if monitoring_enable_tls %}
    --grpc-server-tls-cert={{ monitoring_certs_dir }}/monitoring-server.crt \
    --grpc-server-tls-key={{ monitoring_certs_dir }}/monitoring-server.key \
    --grpc-server-tls-client-ca={{ monitoring_certs_dir }}/monitoring-ca.crt \
{% endif %}
    --http-address=0.0.0.0:{{ thanos_query_http_port }} \
{% if monitoring_enable_tls %}
    --http.config={{ thanos_config_dir }}/config/thanos-http-server-config.yml \
    --grpc-client-tls-cert={{ monitoring_certs_dir }}/monitoring-server.crt \
    --grpc-client-tls-key={{ monitoring_certs_dir }}/monitoring-server.key \
    --grpc-client-tls-ca={{ monitoring_certs_dir }}/monitoring-ca.crt \
    --grpc-client-tls-secure \
{% endif %}
{% for item in groups['controller'] %}
    --endpoint={{ hostvars[item]['ansible_'~monitoring_network_interface]['ipv4']['address'] }}:{{ thanos_sidecar_grpc_port }} \
    --endpoint={{ hostvars[item]['ansible_'~monitoring_network_interface]['ipv4']['address'] }}:{{ thanos_store_grpc_port }} \
    --endpoint={{ hostvars[item]['ansible_'~monitoring_network_interface]['ipv4']['address'] }}:{{ thanos_rule_grpc_port }} \
{% endfor %}
    --query.replica-label=prometheus_replica \
    --query.auto-downsampling \
    --query.partial-response \
    --store.response-timeout=30s \
    --query.timeout=2m

[Install]
WantedBy=multi-user.target
