#!/bin/bash

temppass=$(grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}')

mysql -uroot -p"$temppass" -e "alter user 'root'@'localhost' identified by '{{ db_password }}';" --connect-expired-password
